folium==0.16.0
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.1
job-queue==0.1
matplotlib==3.7.4
matplotlib-inline==0.1.6
numpy==1.24.4
osmium==3.7.0
osmnx==1.9.2
pandas==1.5.3
streamlit==1.34.0
streamlit_folium==0.20.0